body{
    
    background-image: url(../img/computadora.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.navbar.navbar-expand-lg.bg-warning
{
    background: rgb(207,18,18);
    background: linear-gradient(90deg, rgba(207,18,18,1) 0%, rgba(252,202,140,1) 71%, rgba(255,94,0,1) 100%);
}
i.fa-brands.fa-instagram.fa-2xl:hover,
i.fa-brands.fa-linkedin.fa-2xl:hover,
i.fa-brands.fa-github.fa-2xl:hover,
i.fa-solid.fa-user-lock.fa-2xl:hover/*hover, cuando pasa el mouse por arriba se pone de X color*/
{
    color: white !important;
    text-decoration: none;
}
.list-group{
    --bs-list-group-bg: transparent;
    --bs-list-group-border-color: transparent;
}
section.about{
    margin-top: 10rem;
}
section.admin{
    margin-top: 10rem;
}
section.about{
    width: 100%;
    height:100%;
}
@media (max-width:600px){
    body{
        background-color:gray;
    }
}
@media (min-width:600px){
    body{
        background-color:antiquewhite;
    }
    .section.about{
        width: 50%;
        border-radius: 50%
    }
}